.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;
    .row {
        display: flex;
         flex-direction: row;
         justify-content: space-between;
         width: 50vw;
         margin: 10px auto;
         align-items: center;
        .color {
            height: 30px;
            width: 30px;
            border-radius: 50px;
        }
        .slider {
            width: 45vw;
        }
    }
}